.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.entry-form {
	height: 325px;
	width: 300px;
	background-color: #3ad886;
	display: flex;
	flex-direction: column;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 2%;
}

.input_form {
	display: flex;
	align-items: left;
	flex-direction: column;
	/* margin-left: 10px;
	margin-right: 10px; */
}

.input_line {
	margin-top: 5px;
	margin-bottom: 5px;
}

.button_form {
	background-color: #ed6b5a;
	border-radius: 5px;
	border-style: none;
	height: 25px;
	width: fit-content;
	font-weight: bold;
}

.form_buttons {
	display: flex;
	justify-content: space-between;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
}

.form_image {
	display: flex;
	align-self: center;
	padding-bottom: 5px;
}

.product_box {
	display: flex;
	height: 125px;
	width: 350px;
	background-color: #d34735;
	border-radius: 5px;
	align-items: center;
	padding-left: 7px;
	margin-bottom: 10px;
}

.product_details {
	align-self: flex-start;
	display: flex;
	flex-direction: column;
	padding-left: 5px;
}
